@charset "UTF-8";
@import url(/src/style/rest.css);

:root {
  --Text-Black: rgb(12, 12, 12);
  --Light-Black: rgba(0, 0, 0, 0.731);
  --Color-first: #05c19c;
  --Color-first-hover: #068b70;
  --White-background: #e4e4e4;
  --ticket-send: #887305;
  --ticket-answer: #008005;
  --ticket-all: #0a4fd4;
}

.card-bg {
  background-color: var(--White-background) !important;
  width: 40rem;
}
p {
  margin: 0 !important;
  padding: 0 1.2rem;
}

.border-left {
  border-left: 1px solid black;
}
.border-right {
  border-right: 1px solid black;
}
.list-name p {
  padding: 0 0.8rem;
}

.table {
  th {
    text-align: center !important;
  }

  td {
    cursor: pointer;
    text-align: center !important;
  }
}
.main {
  width: 60rem;
}
@media only screen and (max-width: 1224px) {
  .content.active .main {
    width: 40rem !important;
    transition: all 0.5s;
  }
  .main {
    width: 50rem !important;
    transition: all 0.5s;
  }
}
@media only screen and (max-width: 885px) {
  .content.active .main {
    width: 30rem !important;
    transition: all 0.5s;
    overflow: hidden;

  }
  .main {
    width: 30rem !important;
    transition: all 0.5s;
    overflow: hidden;
  }


}
