@charset "UTF-8";
:root {
  --Text-Black: rgb(12, 12, 12);
  --Light-Black: rgba(0, 0, 0, 0.731);
  --Color-first: #05c19c;
  --Color-first-hover: #068b70;
  --White-background: #e4e4e4;
  --ticket-send: #887305;
  --ticket-answer: #008005;
  --ticket-all: #0a4fd4;
}

* {
  font-family: Vazirmatn;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: url(../../media/photo/backweb.png) no-repeat;
  background-size: cover;
  background-position: center;
}
main {
  .sidebar {
    background-color: var(--White-background);
    width: 5rem;
    transition: 0.5s;
    overflow: visible;
    border-radius: 10px 0 0 10px;

    .logo-site {
      h1 {
        white-space: nowrap;
        padding-top: 10px !important;
        pointer-events: none;
        padding-right: 1rem;
        opacity: 0;
        transition: 0.5s;
      }
      .toggle-menu {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        line-height: 40px;
        transition: 0.5s;
      }
      .toggle-menu:hover {
        color: var(--Color-first) !important;
      }
      .toggle-menu::before {
        cursor: pointer;
      }
    }
    .list-item {
      .nav-item {
        margin: 0.5rem 1rem;
        border-radius: 10px;
      }
      .nav-item:hover {
        background-color: var(--Color-first);
        transition: all 0.5s;
      }
      .nav-item.active {
        background-color: var(--Color-first);
      }
      .nav-link {
        margin-right: 0.5rem;
        white-space: nowrap;
        padding: 0.25rem;
        span {
          opacity: 0;
          transition: 0.5s;
        }
      }
      .for-new-ticket {
        position: relative;
        .fa-plus {
          color: var(--White-background);
          position: absolute;
          right: 34%;
          top: 28%;
        }
      }
    }
  }
  .sidebar.active {
    width: 16.25rem;

    h1 {
      opacity: 1;
    }
    .toggle-menu {
      left: 10%;
    }
    .nav-link {
      span {
        opacity: 1;
        pointer-events: none;
        transition-delay: calc(0.1s * var(--i));
      }
    }
    .for-new-ticket {
      position: relative;
      .fa-plus {
        position: absolute;
        right: 7%;
        top: 28%;
      }
    }
  }
}
.content {
  width: 100%;
  transition: all 0.5s;
  padding-right: 5rem;
}
.content.active {
  padding-right: 16.25rem;
}
.main {
  width: 60rem;
}

.btn-new-ticket {
  .btn {
    color: var(--Color-first-hover);
    border: none;
    transition: all 0.5s;
  }
  .btn:hover {
    transform: scale(0.9);
  }
  .btn:active {
    background-color: var(--Color-first-hover) !important;
  }
}

.card-body {
  min-height: 300px;
}
.condition-tocket {
  width: 14rem;
  height: 14rem;
}

.send-t {
  .text,
  .number {
    color: var(--ticket-send);
  }
}
.answer-t {
  .text,
  .number {
    color: var(--ticket-answer);
  }
}
.all-t {
  .text,
  .number {
    color: var(--ticket-all);
  }
}

@media only screen and (max-width: 975px) {
  .content.active .main {
    width: 40rem !important;
    transition: all 0.5s;
  }
  .condition-tocket {
    width: 10rem;
    height: 10rem;
  }
  .card-body {
    min-height: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .condition-tocket {
    width: 13rem;
    height: 13rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .dashboard-main .card-body {
    flex-direction: column;
    align-items: center;
  }
}
