@charset "UTF-8";
@import url(/src/style/rest.css);

:root {
  --Text-Black: rgb(12, 12, 12);
  --Light-Black: rgba(0, 0, 0, 0.731);
  --Color-first: #05c19c;
  --Color-first-hover: #068b70;
  --White-background: #e4e4e4;
  --ticket-send: #887305;
  --ticket-answer: #008005;
  --ticket-all: #0a4fd4;
}

@media only screen and (max-width: 1224px) {
  .content.active .main {
    width: 40rem !important;
    transition: all 0.5s;
  }
  .main {
    width: 50rem !important;
    transition: all 0.5s;
  }
}
@media only screen and (max-width: 885px) {
  .content.active .main {
    margin-right: 3rem;
    width: 30rem !important;
    transition: all 0.5s;
  }
  .main {
    width: 30rem !important;
    transition: all 0.5s;
  }
}
